site_name: Bookshelf Documentation
site_url: https://gushughes.github.io/books/
site_description: REST API learning project documentation

theme:
  name: material
  palette:
    scheme: slate
    primary: amber
    accent: deep orange
  font:
    text: Roboto Mono
    code: Fira Code
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.sections
    - content.code.copy
    - content.code.annotate
    - content.tabs.link

nav:
  - Home: index.md
  - Blog: blog/first-post.md

extra_css:
  - stylesheets/extra.css


